<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Demo Title</title>
        <meta property="og:title" content="Demo Title" id="og__title" />
        <meta property="og:type" content="website" />
        <!-- <meta property="og:url" content="https://example.com/app/{{obj.slug}}" id="og__url" /> -->
        <meta property="og:url" content="https://example.com/app/how-to-connect-database-using-python" id="og__url" />
        <!-- <meta property="og:image" content="{{obj.image}}" id="og__image" /> -->
        <meta name="description" property="og:description" content="demo description" id="og__desc" />
    </head>
    <body>

    </body>
</html>